.NavigationBar_Container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: visible;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 350px;
  height: 1486px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 8px rgba(62, 100, 146, 0.161);
}

.NavBar_Wrapper {
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; */
  width: 374px;
  height: 1510px;
  /* padding: 0px 0px 0px 0px; */
  /* filter: drop-shadow(0px 3px 8px rgba(62, 100, 146, 0.161)); */
}

#Home_Item {
  position: absolute;
  width: 94px;
  height: 18.105px;
  left: 32px;
  top: 121.179px;
  overflow: visible;
}

#Home_Icon {
  overflow: visible;
  position: absolute;
  width: 20px;
  height: 17.1px;
  left: 0px;
  top: 1.005px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Home_Text {
  left: 30px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(159, 169, 188, 1);
}
#EditProfile_Item {
  position: absolute;
  width: 123px;
  height: 20.112px;
  left: 35px;
  top: 179.774px;
  overflow: visible;
}
#EditProfile_Icon {
  overflow: visible;
  position: absolute;
  width: 14.816px;
  height: 20.112px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#EditProfile_Text {
  left: 28px;
  top: 1.005px;
  position: absolute;
  text-decoration: none;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 90, 135, 1);
}
.topLabel_Wrapper {
  overflow: visible;
  position: absolute;
  width: 1944px;
  height: 111px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* filter: drop-shadow(0px 3px 8px rgba(62, 100, 146, 0.161)); */
  box-shadow: 0px 3px 8px rgba(62, 100, 146, 0.161);
}
#topLabel {
  width: 1944px;
  height: 88.1px;
  fill: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#LAMP {
  left: 91.683px;
  top: 34px;
  position: absolute;
  overflow: visible;
  width: 68px;
  height: 30px;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(250, 196, 8, 1);
}

#logoIcon {
  position: absolute;
  width: 45px;
  height: 53px;
  left: 31px;
  top: 15px;
  overflow: visible;
}

/* #shadow {
  filter: drop-shadow(0px 3px 8px rgba(62, 100, 146, 0.161));
} */
#Search_Box {
  position: absolute;
  width: 138px;
  height: 18.39px;
  left: 379px;
  top: 34px;
  overflow: visible;
}

#Search_Text {
  white-space: nowrap;
  line-height: 16px;
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(159, 169, 188, 1);
}
